body {
  background-color: rgb(12, 6, 92);
  color: white;
}

p {
  padding: 10px;
  display: flex;
  flex-direction: row;
  overflow: auto;
}

#header {
  display: flex;
  flex-direction: row;
}

#header img {
  height: 30vh;
  border: solid 5px black;
}

#header h1 {
  font-weight: bolder;
  padding: 80px 20px 20px 100px;
}

#header ul {
  list-style-type: none;
}

#header ul li {
  display: inline-block;
  margin-left: 25px;
  font-size: 200%;
  color: #fcfcfc;
  background-color: rgb(0 0 0 / 0%);
  border: 10px solid black;
}

#header ul li a {
  color: rgb(252, 243, 243);
}

#header ul li a:visited {
  color: rgb(24, 248, 110);
}

#header ul li a:hover {
  color: salmon;
}

#about_me {
  flex-direction: row;
  height: 20vh;
  display: flex;
  min-height: 200px;
  border: 10px solid rgb(12, 12, 12);
}
.section_headers {
  position: relative;
  padding: 20px;
  font-size: 300%;
  border-right: 10px solid rgb(255, 255, 255);
  padding: 10px;
}

.work {
  display: center;
  font-size: 80px;
  border: 10px solid black;
}

#work_sample {
  padding: 60px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  width: 90%;
}

.best_work_sample {
  flex: 2 1 200px;
  border: 15px solid silver;
}

.row {
  display: flex;
}

figure {
  flex: 1 0 200px;
}

figure img {
  width: 50%;
}

figure card {
  display: flex;
  background-color: rgba(222, 184, 135, 0);
  width: 100px;
  border: 3px solid white;
  color: white;
}

figure card title {
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
}

figure color subtitle {
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
}

.images {
  display: flex;
  width: 100%;
  border: 10px solid black;
}

.images.best {
  width: 100%;
  flex: 2 1 200px;
}

.second_best {
  width: 50%;
}

.third_best {
  width: 50%;
}

#contact_info {
  height: 10.7vh;
  display: flex;
  font-weight: bold;
  min-height: 100px;
  border: 10px solid rgb(0, 0, 0);
  padding: 15px;
}

#contact_info li {
  display: flex;
  flex-direction: row;
  display: inline;
  padding: 15px;
  border: solid 5px;
}

#linkedin-text {
  color: white;
}

@media screen and (max-width: 768px) {
  /* Use flex-direction to stack the navbar, sidebar, and body */
  work_sample,
  nav {
    flex-direction: column;
  }
  /* Make the sidebar stack below the body */
  work {
    order: 2;
  }
  /* Change the header background */
  header {
    background: #772014;
  }
  /* Change the navbar and footer background */
  nav,
  footer {
    background-color: #bb8588;
  }
}
